@import "tailwindcss";

@theme {
  --color-background: #FAFAFA;
  --color-primary: #121212;
  --color-secondary: #737373;
  --color-border-subtle: #E5E5E5;

  --font-sans: var(--font-inter);
  --font-heading: var(--font-geist-sans);
}

.animate-marquee-scroll {
  animation: marquee-scroll 60s linear infinite;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

:root {
  background-color: var(--color-background);
  color: var(--color-primary);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans), sans-serif;
  letter-spacing: -0.01em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), sans-serif;
  letter-spacing: -0.02em;
}

